
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.login-logo {
  margin-top: 7vh;
}

.login-logo-img {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}

.login-box {
  margin-top: 0 !important;
}

.register-box {
	margin-top: 0 !important;
}
